# macOS files
**/.DS_Store

# Fichiers secrets
**/.env*

# Build artifacts
**/build/
**/DerivedData/

# Logs
**/*.log

# Script systems
**/*.sh

# Certificat
**/*.pem
**/*.crt
**/*.key

# Xcode specific files
CinePhoria mobile/MonCinePhoria.xcodeproj/project.xcworkspace/xcuserdata/*/UserInterfaceState.xcuserstate
xcuserdata/               # Exclut les préférences utilisateur
*.xcuserdatad/            # Préférences utilisateur supplémentaires
**/*.xcuserstate             # État local de l'utilisateur
xcdebugger/               # Données de débogage locales

# Swift Package Manager
/.build/                  # Dossiers de construction temporaire
/.swiftpm/                # Données locales SPM
!Package.resolved         # Inclure pour garantir des versions reproductibles des dépendances

# Fastlane
fastlane/report.xml
fastlane/screenshots
fastlane/test_output
fastlane/Preview.html
fastlane/Preview.png

# Carthage
Carthage/Build/

# CocoaPods
Pods/
Podfile.lock

#Saas
CinePhoria\ site/saas/


# Exclure le répertoire node_modules pour tous les sous-répertoires
**/node_modules/

# Exclure les fichiers Sass compilés si nécessaire
**/*.css.map

# Exclure les fichiers de logs générés par npm ou d'autres outils
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Exclure les fichiers système spécifiques à macOS
.DS_Store

# Exclure les fichiers temporaires
*.tmp
*.swp

