# macOS files
.DS_Store

# Build artifacts
build/
DerivedData/

# Logs
*.log

# Xcode fichiers projets
xcuserdata/
*.xcworkspace/
*.xcodeproj/project.xcworkspace/
*.xcuserdatad/
*.xcuserstate

# Swift Package Manager
.swiftpm/
Packages/
*.xcodeproj/
xcdebugger/

# Fastlane
fastlane/report.xml
fastlane/screenshots
fastlane/test_output
fastlane/Preview.html
fastlane/Preview.png

# Carthage
Carthage/Build/

# CocoaPods
Pods/
Podfile.lock
