<div class="form-detailfilm">
    <div class="film-images">
        <div class="affiche-container">
            <img class="affiche-small" src="https://placehold.co/128x80" />
            <div class="label-affiche">Affiche 128</div>
            <img class="affiche-large" src="https://placehold.co/256x256" />
            <div class="label-affiche">Affiche 1024</div>
        </div>
        <div class="film-details">
            <div class="detail-row">
                <div class="field-group">
                    <div class="label">Nom du Film</div>
                    <div class="field-value">Bons Baisers de Russie</div>
                </div>
                <button class="btn-genres">Genres ▾</button>
            </div>

            <div class="detail-row">
                <div class="field-group">
                    <div class="label">Réalisateur</div>
                    <div class="field-value">Réalisation : Ian Flemming</div>
                </div>
                <div class="field-group">
                    <div class="label">Durée du film</div>
                    <div class="field-value">1h54</div>
                </div>
            </div>

            <div class="field-group">
                <div class="label">Pitch du film (accroche de 5 mots maximum)</div>
                <div class="field-value">Un super film !</div>
            </div>

            <div class="field-group">
                <div class="label">Distribution</div>
                <div class="field-value">Acteurs: Sean Connery, Daniela Bianchi, Nathalie Nerval, Pedro Armendáriz, Lotte Lenya</div>
            </div>
        </div>
    </div>

    <div class="bottom-row">
        <div class="field-group categorie-public">
            <div class="label">Catégorie de public</div>
            <button class="btn-select-public">Select item ▾</button>
        </div>
        <div class="coup-de-coeur">
            <input type="checkbox" id="coupCoeur">
            <label for="coupCoeur">Coup de coeur</label>
        </div>
    </div>

    <div class="field-group description">
        <div class="label">Description</div>
        <div class="field-value">
            En pleine guerre froide, le dernier joyau technologique soviétique, le Lektor, est convoité par le SPECTRE, la redoutable organisation criminelle dont faisait partie le Dr Julius No et par les services secrets britanniques qui chargent Bond de le récupérer. Mais cette affaire cache en réalité une redoutable mise en scène du SPECTRE pour piéger 007 en misant sur son point faible, les femmes.
        </div>
    </div>
</div>