* {
  margin: 0;
  padding: 0;
  font-family: var(--actor);
  font-weight: lighter;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
}

[class*="button"] {
  padding: 10px;
  min-width: 100px;
  font-size: var(--body-font-size);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 300ms;
  background-color: rgb(var(--primary-color));
  color: rgb(var(--secondary-color));
}


[class*="button"]:hover {
  background-color: rgb(var(--primary-color), 0.8);
}

[class*="button"].inactif {
  background-color: rgb(var(--ternary-color), 0.8);
  color: rgb(var(--primary-color));
}

/* Gérer l'attente sur les boutons */
[class*="button"].loading {
  position: relative;
  pointer-events: none;
  opacity: 0.6;
}

[class*="button"].loading::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 15px;
  width: 16px;
  height: 16px;
  border: 2px solid #fff;
  border-top: 2px solid transparent;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
  transform: translateY(-50%);
}

#progressIndicator {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.9);
  padding: 1em;
  border-radius: 0.5em;
  z-index: 9999;
}

#progressIndicator.hidden {
  display: none !important;
}

@keyframes spin {
  to {
    transform: translateY(-50%) rotate(360deg);
  }
}



.custom-alert-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.custom-alert-modal {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: white;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.custom-alert-modal p {
  white-space: pre-line; /* conserve \n comme retours à la ligne */
  text-align: left ;
}

.custom-alert-modal button {
  align-self: center;
  /* centre le bouton */
  padding: 0.3rem 1rem;
  /* padding vertical et horizontal */
  font-size: 0.9rem;
  /* un peu plus petit */
  border: none;
  border-radius: 0.5rem;
  background-color: #444;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.custom-alert-modal button:hover {
  background-color: #222;
}