<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Tableau Tarifs</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Tarif</th>
                <th>Places</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Plein tarif (10€)</td>
                <td>
                    <button>+</button>
                    <span>2</span>
                    <button>-</button>
                </td>
                <td>20 €</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Tarif réduit (8€)</td>
                <td>
                    <button>+</button>
                    <span>1</span>
                    <button>-</button>
                </td>
                <td>8 €</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3"></td>
                <td>28 €</td>
            </tr>
        </tfoot>
    </table>


    <form>
        <label for="email">Email <span style="color: red;">*</span></label>
        <input type="email" id="email" name="email" required>
        <button type="submit">Envoyer</button>
    </form>
</body>
</html>